@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body
{
    background-color: #FEFAEF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

hr
{
    width: 95%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

article
{
    text-align: center;
}

/*main*/
main
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: stretch;
}

/*header*/
header
{
    background-color: #403F3C;

    width: 100%;
    max-height: 110px;

    color: #FEFAEF;
    font-size: 25px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*nav*/
nav
{

}

nav > ul
{
    list-style-type: none;

    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav > ul > li
{
    height: 100%;
}

nav > ul > li> a
{
    text-decoration: none;
    color: #403F3C;
    font-weight: bold;

    font-size: 20px;

    height: 100%;

    padding: 10px
}

nav > ul > li> a:hover
{
    background-color: #E6E2D8;
}

.disabledMenuItem
{
    color: #8C8A84; 
    margin-left: 5px;
    font-size: 20px;
}

/*section*/
section
{
    width: 100%;
    height: fit-content;

    text-align: center;

    color: #403F3C;

    display: flex;
    flex-direction: column;

    align-items: center;
}

section > article
{
    padding: 0px 200px 0px;
    font-size: 22px;
    line-height: 35px;
}

section > article > ul > li
{
    padding-bottom: 10px;
    font-size: 22px;
}

section > h1
{
    font-size: 41px;
}

/*footer*/
footer
{
    background-color: #403F3C;

    max-width: 100%;
    height: 65px;

    color: #FEFAEF;
    font-size: 16px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Form*/
.errorMsg 
{
    color: red;
    margin-bottom: 20px;
}

.submitButton
{
    color: black;
    background-color: #B3AB96;

    width: 180px;
    height: 50px;
    
    font-size: 17px;
    font-weight: bold;

    border: 3px solid #807352;
    border-radius: 10px;

    margin-bottom: 20px;
}

.submitButton:hover
{
    background-color: #999281;
}

#formTable
{
    margin-bottom: 30px;
    border-collapse:separate; 
    border-spacing:15px;
}


.polishWord
{
    font-weight: bold;
}

.summaryInfo
{
    margin-bottom: 10px;

    font-size: 16px;
}

.changelogRef
{
    color: white;
}